<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.sys.mapper.SMenuMapper">

    <resultMap id="BaseResultMap" type="com.z.entity.sys.SMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="perm" column="perm" jdbcType="VARCHAR"/>
            <result property="pId" column="p_id" jdbcType="BIGINT"/>
            <result property="subCount" column="sub_count" jdbcType="INTEGER"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="hidden" column="is_hidden" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="menuSort" column="menu_sort" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="RouteDtoMap" type="com.z.entity.dto.RouteDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="perm" column="perm" jdbcType="VARCHAR"/>
        <result property="pId" column="p_id" jdbcType="BIGINT"/>
        <result property="menuType" column="menu_type" jdbcType="BIGINT"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="hidden" column="hidden" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="menuSort" column="menu_sort" jdbcType="INTEGER"/>
        <collection property="roleKeys"  javaType="java.util.ArrayList" ofType="string">
            <result column="roleKey"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_name,perm,
        p_id,sub_count,component,
        path,hidden,icon,
        menu_sort,remark,create_user,
        create_time,update_user,update_time,
        deleted
    </sql>
    <select id="getAllRoutes" resultMap="RouteDtoMap">
        select
        m.id,
        m.menu_name,
        m.perm,
        m.p_id,
        m.component,
        m.path,
        m.hidden,
        m.icon,
        m.redirect,
        m.menu_sort,
        m.menu_type,
        r.role_key as roleKey
        from zadmin.s_menu as m
        left join zadmin.s_menu_role as mr on m.id = mr.m_id
        left join zadmin.s_role as r on r.id = mr.r_id
        <where>
            m.deleted = 0
            and m.menu_type != 3
        </where>
        order by m.menu_sort
    </select>
    <select id="getSelectedMenus" resultType="java.lang.Long">
        select mr.m_id as id
        from zadmin.s_role as r
        left join zadmin.s_menu_role as mr on mr.r_id = r.id
        <where>
            <if test="rid != null and rid != 0">
                r.id = #{rid}
            </if>
        </where>
    </select>


</mapper>
