<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.sys.mapper.SUserMapper">

    <resultMap id="BaseResultMap" type="com.z.entity.sys.SUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="passWord" column="pass_word" jdbcType="VARCHAR"/>
            <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
            <result property="userType" column="user_type" jdbcType="INTEGER"/>
            <result property="userStatus" column="user_status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,user_name,
        pass_word,org_id,user_type,
        user_status,create_time,create_user,
        update_time,update_user,deleted
    </sql>
    <select id="getAllRoleByUserId" resultType="java.lang.String">
        select r.role_key
        from zadmin.s_user as u
        left join zadmin.s_user_role as ur on u.id = ur.u_id
        left join zadmin.s_role as r on ur.r_id = r.id
        <where>
            <if test="userId != null and userId != 0">
                u.id = #{userId}
            </if>
            and u.deleted = 0
        </where>
    </select>
    <select id="getUserList" resultType="com.z.bean.admin.res.user.UserListRes">
        select
            u.id,
            u.nickname,
            u.user_name,
            u.user_status,
            u.create_time
        from s_user as u
        <where>
            u.deleted = 0
            <if test="req.nickname != null and req.nickname != ''">
                and u.nickname like concat('%',#{req.nickname},'%')
            </if>
        </where>
    </select>
</mapper>
